@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 My CSS below
 */


.notebook_theme-body {
    background-color: #FFFFFF;
    color: #000000;
}

.notebook_theme-body .border {
    border-style: solid;
    border-width: 2px;
}

.notebook_theme-body .border button {
    border-style: solid;
    border-width: 1px;
}

.notebook_theme-body .border a {
    border-style: solid;
    border-width: 1px;
}

.beige_theme-body {
    background-color: #BAA898;
    color: #672A4E;
}

.pastel_theme-body {
    background-color: #F0A6CA;
    color: #822E81;
}

.pastel_theme-body .border {
    border-style: dotted;
    border-width: 3px;
    border-color: #F2F8DB;
}

.pastel_theme-body .border button {
    border-style: solid;
    border-width: 1px;
}

.pastel_theme-body .border a {
    border-style: solid;
    border-width: 1px;
}
