@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 My CSS below
 */

/*

    Default Theme

*/


.default_theme-body {
    background-color: #ebe4d9;
    color: #000000;
}

.default_theme-body .border {
    border-style: dotted;
    border-width: 2px;
    border-color: #978484;
}

.default_theme-body .button {
    background-color: #FFFFFF;
    color: #4e0f0f;
    border-style: solid;
    border-width: 1px;
}

.default_theme-body .button-selected {
    background-color: #F6AA1C;
    color: #1a1a1a;
    border-style: solid;
    border-width: 1px;
}

.default_theme-body .blog-item {
    background-color: #FFFFFF;
    color: #4e0f0f;
}

.default_theme-body .sidebar {
    background-color: #a13939;
    color: #FFFFFF;
}

.default_theme-body .content {
    background-color: #a13939;
    color: #FFFFFF;
}

.default_theme-body .content-banner {
    background-color: #F6AA1C;
    color: #1a1a1a;
    font-weight: bold;
}

/*

    Pastel Theme

*/

.pastel_theme-body {
    background-color: #F0A6CA;
    color: #822E81;
}

.pastel_theme-body .border {
    border-style: dotted;
    border-width: 3px;
    border-color: #F2F8DB;
}

.pastel_theme-body .border button {
    border-style: solid;
    border-width: 1px;
}

.pastel_theme-body .border a {
    border-style: solid;
    border-width: 1px;
}
