.theme-catppiccinlatte-body {
    background-color: #eff1f5;
    color: #000000;
}

.theme-catppiccinlatte-body .border {
    border-style: solid;
    border-width: 2px;
    border-color: #dc8a78;
}

.theme-catppiccinlatte-body .button {
    background-color: #FFFFFF;
    color: #4e0f0f;
    border-style: solid;
    border-width: 1px;
}

.theme-catppiccinlatte-body .button-selected {
    background-color: #dc8a78;
    color: #1a1a1a;
    border-style: solid;
    border-width: 1px;
}

.theme-catppiccinlatte-body .blog-item {
    background-color: #FFFFFF;
    color: #4e0f0f;
}

.theme-catppiccinlatte-body .sidebar {
    background-color: #eff1f5;
    color: #000000;
}

.theme-catppiccinlatte-body .content {
    background-color: #eff1f5;
    color: #000000;
}

.theme-catppiccinlatte-body .popup {
    background-color: #eff1f5;
    color: #000000;
}

.theme-catppiccinlatte-body .content-banner {
    background-color: #dc8a78;
    color: #1a1a1a;
    font-weight: bold;
}

.theme-catppiccinlatte-body .awe-button {
    border-width: 3px;
    border-style: outset;
    border-color: #000;
    border-top-color: #FFF;
    border-left-color: #FFF;
}

.theme-catppiccinlatte-body .awe-button:hover {
    border-width: 3px;
    border-style: inset;
    border-color: #FFF;
    border-top-color: #000;
    border-left-color: #000;
}